In [ ]:
import pandas as pd
import numpy as np
import statistics as stat

In [ ]:
df=pd.read_csv('/content/Iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df1 = df['Species'].value_counts()
print(df1)

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [ ]:
freq_table = pd.crosstab(df['Species'], 'no_of_species')
freq_table

col_0            no_of_species
Species
Iris-setosa                 50
Iris-versicolor             50
Iris-virginica              50

In [ ]:
df2=pd.read_csv('/content/SampleSuperstore.csv')
df2.head()

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164

In [ ]:
freq_table = pd.crosstab(df2['Ship Mode'], df2['Segment'])

freq_table

Segment         Consumer  Corporate  Home Office
Ship Mode
First Class          769        485          284
Same Day             317        114          112
Second Class        1020        609          316
Standard Class      3085       1812         1071

In [ ]:
print("Mean using Numpy:",np.mean(df['PetalWidthCm']))
print("Variance using Numpy:",np.var(df['PetalWidthCm']))

Mean using Numpy: 1.1986666666666668
Variance using Numpy: 0.5785315555555555

In [ ]:
print("Mean using Statistics:",stat.mean(df2['Profit']))
print("Variance using Statistics",stat.variance(df2['Profit']))

Mean using Statistics: 28.65689630778467
Variance using Statistics 54877.79805537892